.page-inner__title-wrapper {
  margin: 0 auto;
  padding: 45px 20px 34px;
  max-width: 940px;
  text-align: center;

  @media @tablet {
    padding: 92px 50px 38px;
  }

  @media @desktop {
    padding: 92px 25px 48px;
    max-width: 800px;
  }
}

.page-inner__title {
  margin: 0;
  line-height: 30px;

  @media @tablet {
    font-size: 18px;
  }
}

.page-inner__wrapper {
  margin: 0 auto;
  max-width: 940px;
}
