.price {
  padding-top: 90px;
  background-color: @silver;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: ~"calc(100% + 30px)" auto;
  background-position-x: -15px;
  background-repeat: no-repeat;

  @media @tablet {
    padding-top: 88px;
    padding-bottom: 69px;
  }

  @media @desktop {
    padding-top: 158px;
    padding-bottom: 94px;
  }
}

.price__slider {
  overflow: hidden;
  .container();

  line-height: 30px;
  text-transform: uppercase;
}

.price__slider-controls {
  margin-top: 40px;
  margin-bottom: 49px;

  @media @tablet {
    display: none;
  }
}

.price-table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  @media @tablet {
    position: static;
    left: auto;
    transform: none;
  }
}
